.bg-primary {
  background-color: transparent !important;
  border: none;
}

img {
  width: 100%;
}

.admin-content {
  padding-top: 30px;
}

.admin-content a:hover {
  color: #B22222;
  ;
}

h2 {
  padding: 20px 0 20px 0;
}

div {
  font-size: 15px;
}


.avatar {
  width: 40px;
  border-radius: 50%;
}

h4 {
  padding: 40px 0 40px 0;
}

.comment {
  display: table;
  text-align: justify;
}

.vcard {
  padding-right:10px;
}

.comment-body {
  display: table-cell;
}

.comment-meta {
  font-size: 11px;
}

#message {
  width: 50%;
  margin: 0 auto;
}
.featured-image{
    width: 50%;
}
