<section>
  <h2>Search results for: {{text}}</h2>
  <div class="spacer">
    <ul>
      {{#each articles}}
      <li>
        <a href="/article/details/{{id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</section>