<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Delete Post</h1>
            <p>Please fill all fields.</p>
        </div>
    </div>
    <form [formGroup] ="form" (submit)="deletePost(post.id)">
        <div class="row space-top">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="new-title">Title</label>
                    <input class="form-control" value="{{post?.title}}" id="new-title" formControlName="title" type="text"  disabled>
                </div>
                
                <div class="form-group">
                    <label class="form-control-label" for="new-image">Image</label>
                    <input class="form-control" value="{{post?.image}}" id="new-image" formControlName="image" type="text"  disabled>
                </div>
                
                <div class="form-group">
                    <label class="form-control-label" for="new-material">Content</label>
                    <input class="form-control" value="{{post?.content}}" id="new-material" formControlName="content" type="text"  disabled>
                </div>
                <input type="submit" class="btn btn-primary" value="Delete" [disabled]="invalid" />
            </div>
        </div>
    </form>
  </div>
  