<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h2>Create New Post</h2>
            <p>Please fill all fields.</p>
        </div>
    </div>
    <form [formGroup] ="form" (submit)="createPost()">
        <div class="row space-top">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="new-title">Title</label>
                    <input class="form-control" id="new-title" formControlName="title" type="text">
                </div>
                <div class="alert alert-danger" *ngIf="f.title.touched && f.title.errors?.required">
                  This field is required
                </div>
                <div class="alert alert-danger" *ngIf="f.title.errors?.minlength">
                  Length must be at least 10 chars!
                </div>
                
                <div class="form-group">
                    <label class="form-control-label" for="new-image">Image</label>
                    <input class="form-control" id="new-image" formControlName="image" type="text">
                </div>
                <div class="alert alert-danger" *ngIf="f.image.touched && f.image.errors?.required">
                  This field is required
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="new-material">Content</label>
                    <textarea class="form-control" id="new-material" cols={3} rows={1} formControlName="content"> </textarea>
                </div>
                <div class="alert alert-danger" *ngIf="f.content.touched && f.content.errors?.required">
                    This field is required
                  </div>
                <input type="submit" class="btn btn-primary" value="Create" [disabled]="invalid" />
            </div>
        </div>
    </form>
  </div>
  