<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Post Details</h1>
    </div>
  </div>
  <div class="row space-top">
    <div class="col-md-9">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img class="featured-image" src="{{post.image}}" />
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="admin-content" *ngIf="authService.isAdmin()">
        <a [routerLink]="['/blog/edit', post.id]" class="">Edit Post </a>
        <a [routerLink]="['/blog/delete', post.id]" class="">Delete Post</a>
      </div>
      <h2>{{post.title}}</h2>
      <div innerHtml="{{post.content}}">
      </div>
      <!--Comment section-->
      <div class="pt-8">
        <h3 class="mb-8">Comments</h3>
        <ul class="comment-list">
          <li class="comment" *ngFor="let c of post?.comments">
            <div class="vcard">
              <img class="avatar" src="/assets/images/person_1.jpg" alt="Image placeholder" />
            </div>
            <div class="comment-body">
              <h4>{{c.author.name}}</h4>
              <div class="comment-meta">{{c.creationDate | date: 'MMMM/dd/yyyy'}}</div>
              <p>{{c.comment}}</p>
              <p><a href="#" class="reply rounded">Reply</a></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="not-authenticated" *ngIf="!authService.isAuthenticated()">
        <h4 class="mb-5">Please <a [routerLink]="['/signin']">log in</a> or <a [routerLink]="['/signup']">register</a> to post a comment</h4>
      </div>
      <div class="comment-form-wrap pt-6" *ngIf="authService.isAuthenticated()">
        <form class="p-5 bg-light" [formGroup]="form" (submit)="createComment()">
          <div class="form-group">
            <label htmlFor="message">Leave a comment</label>
            <textarea formControlName="comment" id="message" cols={30} rows={10} class="form-control"></textarea>
          </div>
          <div class="alert alert-danger" *ngIf="f.comment.touched && f.comment.errors?.required">
            This field is required
          </div>
          <div class="form-group">
            <input type="submit" defaultValue="Post Comment" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>