<section>
  <h2>Login</h2>
  <div class="spacer">
    <form method="POST">
      <label>Email:</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{email}}" />
      <label>Password:</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" value="{{password}}" />
      <input type="password">
      <input type="submit" value="Login">
    </form>
  </div>
</section>