<section>
    <h2>Register</h2>
    <div class="spacer">
        <form method="POST">
            <label>Email:</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{email}}" />
            <label>Password:</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" value="{{password}}" />
            <label>Repeat password:</label>
            <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Password" name="repeatPassword" value="{{repeatPassword}}" />
            <input type="submit" value="Register">
        </form>
    </div>
</section>